% LaTeX Resume Template (Jinja2)
\documentclass{article}
\begin{document}

% TODO: Fill in tailored content here
\section*{Name}
Your Name

\section*{Summary}
Tailored summary for {{ job['title'] }} at {{ job['company'] }}

\section*{Experience}
% List tailored experiences

\end{document}
